@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Baloo+Bhaijaan+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.main{
    background-image: url(./WhatsApp\ Image\ 2025-04-30\ at\ 18.35.20_156f195b.jpg);
    background-position: center center;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: max(1000px,100vw);
    position: relative;
    

}

.main .box{
    
    height: 70vh;
    width: 100%;
    opacity: 0.66;
    background-color: black;
    position: absolute;
    top:0;
}

nav{
    max-width: 60vw;

    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: auto;
    height: 62px;
}
nav img{
    color: red;
    width:120px;
    position: relative;
    z-index: 11;

    
}

nav button{
    position: relative;
    z-index: 10;
}

/* .box{ */
    /* color: white; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100%; */
/* } */

.hero{
    height: calc(100% - 62px);
    font-family: "Open Sans", sans-serif;;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    position: relative;
    gap:12px;
    padding: 0px 20px;

}
.hero :first-child{

    font-weight: 700;
    font-family: "poppins", sans-serif;
    font-size: 36px;
    text-align: center;
}



.hero :nth-child(2){
    font-weight: 400;
    font-size: 21px;
    text-align: center;
}

.hero :nth-child(3){
    font-weight: 400;
    font-size: 21px;
    text-align: center;
}

.seperator{
    height: 5px;
    background-color: rgb(80, 78, 78);
}

.btn{
    padding:3px 8px;
    font-weight: bold;
    background-color: white;

}
.btn-red-sm{
    background-color: red;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    
}

.btn-red{
    background-color: red;
    font-weight: bolder;
    color: white;
    padding: 5px 10px;

    border-radius:5px;
}


.hero input{
    padding: 3px 8px;
    border-radius:5px;
    background-color: rgba(23,23,23,0.2);


}

.hero input::placeholder{
    font-size: 18px;
    padding: 4px 10px;

}